## Built-in Data Types

### Mutables and Immutables Data types

In [20]:
class Person:
    def __init__(self, age):
        self.age=age

In [21]:
fab = Person(age=43)
fab.age

43

In [22]:
print(id(fab), id(fab.age))

140188013693360 94271698494848

In [23]:
fab.age= 33

In [24]:
print(id(fab), id(fab.age))

140188013693360 94271698494528

# Immutables Sequences
## String and bytes

In [20]:
# Example of String

str1 = 'This_is_Python_Introduction_Session._Hello_my_name_is_Muhammad_Kazim'
str2 = 'This is Python Introduction Session. This is Second String written'
print(str1)
print(str2)

This_is_Python_Introduction_Session._Hello_my_name_is_Muhammad_Kazim
This is Python Introduction Session. This is Second String written

In [21]:
# Indexing and Slicing of Strings 
print(str1[0], str1[5])
print(str1[:6],str1[6:]) # from index 0 to index 5 i.e 6 excluded, from 6 till the end

T i
This_i s_Python_Introduction_Session._Hello_my_name_is_Muhammad_Kazim

In [22]:
print(str1[8])
print(str1[14])
print(str1[8:14])
# from index 8 to index 13 i.e 14 not included

P
_
Python

In [28]:
print(str1[2], str1[14])
str1[2:14:3] # slicing, start, stop and step (every 3 chars) and index 14 not included

i _

'iiPh'

### Tuples

In [42]:
#tuples is a sequence of arbitrarty Python objects 
t= ()
print(type(t))

t = (42,)

<class 'tuple'>

In [43]:
print(t)

(42,)

In [44]:
a,b,c = 1,2,3

In [48]:
a,b,c

(1, 2, 3)

In [49]:
3 in t

False

In [60]:
# one line swap
a,b =1,2

print((a,b))
c =a 
a=b 
b=c
print((a,b))

(1, 2)
(2, 1)

In [61]:
a,b =1,2 
print((a,b))

(1, 2)

In [142]:
a,b = b,a
print((a,b))

(1, 2)

In [143]:
type((a,b))

tuple

# Mutables

### Lists

In [214]:
t = []
type(t)

list

In [215]:
t =list()
type(t)

list

In [216]:
t = [1,2,3]

In [217]:
#creating new list using already created list 
[x + 5 for x in t]

[6, 7, 8]

In [218]:
t =list('hello World')

In [219]:
print(t)

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

### Methods is List

In [220]:
t.append('.')
print(t)
t.count('l')

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.']

3

In [221]:
str1= 'This is Muhammad KaZim'
[t.append(x) for x in str1]
print(t)

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.', 'T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'K', 'a', 'Z', 'i', 'm']

In [222]:
#t.extend(['.','T','h','a','n','k','s'])
t.extend('Thanks')

In [223]:
print(t)

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.', 'T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'K', 'a', 'Z', 'i', 'm', 'T', 'h', 'a', 'n', 'k', 's']

In [224]:
# more methods
# t.index('K') tells the position of K
# t.insert(0,'M') inserts M at 0 position
# t.pop() remove last element in the list
# t.remove('K') removes K from List
# t.reverse() reverse the list
# t.sort() sorts the list
# t.clear() empty the list

In [225]:
t.append(100)
print(t)

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.', 'T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'K', 'a', 'Z', 'i', 'm', 'T', 'h', 'a', 'n', 'k', 's', 100]

In [226]:
# Difference in append and extend
t.append('...')
print(t)
t.extend('...')
print(t)

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.', 'T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'K', 'a', 'Z', 'i', 'm', 'T', 'h', 'a', 'n', 'k', 's', 100, '...']
['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '.', 'T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'K', 'a', 'Z', 'i', 'm', 'T', 'h', 'a', 'n', 'k', 's', 100, '...', '.', '.', '.']

In [243]:
a = list()

In [244]:
a=(1,2,3,4,5,1,14,1)

In [245]:
print(a)

(1, 2, 3, 4, 5, 1, 14, 1)

In [246]:
a.count(1)

3

In [247]:
min(a) , max(a), sum(a), len(a)

(1, 14, 31, 8)

In [253]:
b= (4,2,12,7,2,2,2,7)
# concatenation of list
a + b

(1, 2, 3, 4, 5, 1, 14, 1, 4, 2, 12, 7, 2, 2, 2, 7)

In [259]:
tuple_example =[1212,123,123,123]
print(type(tuple_example))

tuple_example =(1212,123,123,123)
print(type(tuple_example))

<class 'list'>
<class 'tuple'>

### Sets and its type
#### Two types of Set. One is Set (itself) and the other is Frozen Set 
#### Set type is mutable while the frozenset type is immutable
#### Remember mutable means changeable and Immutables means not changeable

In [276]:
set_example = set()
print(type(set_example))

<class 'set'>

In [277]:
# adding elements in set one at a time
set_example.add(2)
set_example.add(3)
set_example.add(5)
set_example.add(3) # 3 is added again, duplicate entry in set is not allowed
print(set_example)

{2, 3, 5}

In [278]:
# other way to add elements in set is
other_example = set([1,4,5,6])
print(type(other_example), other_example)

<class 'set'> {1, 4, 5, 6}

In [286]:
set_example.remove(3)
print(set_example)
set_example.add(3)
print(set_example)

{2, 5}
{2, 3, 5}

In [290]:
print(set_example, other_example)
print(set_example | other_example) # union operator `|`
print(set_example & other_example) # intersection operator `&`
print( set_example - other_example) # difference operator `-`

{2, 3, 5} {1, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{5}
{2, 3}

In [292]:
# Now immutable frozensets example
a = frozenset([2,3,4,5,6])
b= frozenset([7,8,9,5,4])
a, b

(frozenset({2, 3, 4, 5, 6}), frozenset({4, 5, 7, 8, 9}))

In [294]:
# we cannot added, remove from frozensets
# since frozenset are immutables

In [296]:
print(a | b) # union operation is allowed
print(a& b) # intesection operation is allowed
print(a-b) # difference operation is allowed

frozenset({2, 3, 4, 5, 6, 7, 8, 9})
frozenset({4, 5})
frozenset({2, 3, 6})

# Dictionaries

In [14]:
a = dict(A=1, Z=-1)
b = {'A': 1, 'Z': -1}
c = dict(zip(['A', 'Z'], [1, -1]))
d = dict([('A', 1), ('Z', -1)])
e = dict({'Z': -1, 'A': 1})
print("Are they all same?")
print("Yes") if a == b == c == d == e else print("No")

Are they all same?
Yes

In [18]:
# zip method in python
# zip method glues together two things taking one element from each at a time
a= list(zip(['h', 'e', 'l', 'l', 'o'], [1, 2, 3, 4, 5])) # zip returns an iterator not a list.

In [19]:
print (type(a))

<class 'list'>

In [29]:
print(list(zip('hello', range(5))))
print(dict(zip('hello', range(5))))

[('h', 0), ('e', 1), ('l', 2), ('l', 3), ('o', 4)]
{'l': 3, 'h': 0, 'e': 1, 'o': 4}

In [30]:
d={}
d['a'] =1 
d['b']=2
print(d)

{'b': 2, 'a': 1}

In [31]:
# dictionaries has keys and values
a= dict(zip('hello', range(5)))
print(a)
a.keys(), a.values()

{'l': 3, 'h': 0, 'e': 1, 'o': 4}

(dict_keys(['l', 'h', 'e', 'o']), dict_values([3, 0, 1, 4]))

In [35]:
('o', 4) in a # False
('o', 4) in a.items()  # True

True

In [36]:
# Some methods in Dictionaries
# a.popitem()
# a.pop()
# a.update({'another': 'value'}) # we can update dict this way 
# a.update(a=13) # or this way (like a function call)
a.get('h')

0

In [43]:
new_dict = {}

print(type(new_dict))

new_dict['a']=2

<class 'dict'>

In [44]:
new_dict.setdefault('a',1) # setdefault works when no key is found, returns default value

2

In [46]:
new ={}
new.setdefault('a', {}).setdefault('b', []).append(1)

In [47]:
new

{'a': {'b': [1]}}