In [15]:
import pandas as pd
import numpy as np

data = np.array([
    ['','Col1', 'Col2'],
    ['Row1', 1, 2],
    ['Row2', 3,4]
])
# print(data[1:,0:])

# data[row,col] means all rows all columns
# data[0:,0:] all rows all columns
# data[1:, 1:] from row 1 and col 1 to all rows columns
# data[1:, 0] means row 1 row 2 but only column 0 
df = pd.DataFrame(data= data[1:,1:], index=data[1:, 0], columns=data[0,1:])
print(df, df.shape)

     Col1 Col2
Row1    1    2
Row2    3    4 (2, 2)

In [19]:
# lets create real data using numpy and pandas 

import pandas as pd
import numpy as np
trail = [1,2,3,4,5,6]
sub_id = [1]*6
group = ['Control']*6
condition = ['Affect']*4 + ['Neutral']*2
data = {'Condition:':condition, 'Subject ID':sub_id,'Trail':trail,'Group':group}
print(pd.DataFrame(data))

  Condition:    Group  Subject ID  Trail
0     Affect  Control           1      1
1     Affect  Control           1      2
2     Affect  Control           1      3
3     Affect  Control           1      4
4    Neutral  Control           1      5
5    Neutral  Control           1      6

In [53]:
# reading CSV files using pd

data_csv = pd.read_csv('/home/mkazim/Downloads/channing.csv')

In [54]:
data_csv['Unnamed: 0'].is_unique

True

In [55]:
data_csv= data_csv.set_index('Unnamed: 0')

In [56]:
to_drop= ['cens']
data_csv_drop = data_csv.drop(to_drop, inplace= True, axis=1)
data_csv.head()

             sex  entry  exit  time
Unnamed: 0
1           Male    782   909   127
2           Male   1020  1128   108
3           Male    856   969   113
4           Male    915   957    42
5           Male    863   983   120